body{
    background-color: white;
    overflow-x: hidden;
}

#canvasMain {
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 100%;
    z-index: 11;
}

#canvas1{
    position: absolute;
    left:30%;
    top:-25%;
    z-index: 9;
    height: 300px;
    width: 300px;
}

#canvas2{
    position: absolute;
    left:30%;
    top:-25%;
    z-index: 9;
    height: 300px;
    width: 300px;
}

#canvas3{
    position: absolute;
    left:30%;
    top:-25%;
    z-index: 9;
    height: 300px;
    width: 300px;
}

.copyright{
    top:10%;
    color:black;
    position: absolute;
    text-align: right;
}

.masked-text{
    position: absolute;
    width: 100%;
    height: 100%;
    color:white;
    opacity:1;
    
}

.generated-line{
    display: flex;
    pointer-events: none;
    position:absolute;
    font-size: 1.2vw;
    white-space: nowrap;
    width: auto;
    animation: slide-left 3s;
}

@keyframes slide-left{
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    50%{
        opacity:0.45;
    }
    100%{
        opacity:0;
        transform: translateX(-5vw);
    }
}

h1{
    font-family:"Source Code Pro", monospace;
    color: white;
}


h2{
    font-family:"Source Code Pro", monospace;
    font-weight: 300;
    color: white;
}

.it-prod {
    position: relative;
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-repeat: no-repeat;
    left: 13px;
    background-size: 100% 2px;
    background-position: 0 100%;
    -webkit-background-clip: text;
    /* color: transparent; */
    /* -webkit-text-fill-color: black; */
}

.it-prod::before {
    content: '';
    position: absolute;
    bottom: -1px; /* Высота подчеркивания от текста */
    left: 0;
    right: 0;
    height: 2px; /* Толщина подчеркивания */
    background-image: inherit;
    pointer-events: none;
  }

.black-bg{
    background-color: black;
    width: 100%;
    height:95vh;
    position: relative;
}
.white-bg{
    background-color: #EDE8E2;
    width: 100%;
    height:100vh;
    position: relative;
}

.top-menu{
    position: absolute;
    perspective: 500px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 16;
}
.top-menu-el{
    font-size: 3vw;
    cursor: pointer;;
    transition: all .1s;
    scale:1;
    height: auto;
    text-align: center;
    color: white;
    font-family:"Source Code Pro", monospace; 
    width: 20%;
    z-index: 15;
}

.top-menu-el:hover{
    scale:2;
}

.color-cont{
    transition: all .2s;
    position: absolute;
    display:flex ;
    height:100px;
    width: 100%;
    top: 95%;
}

.color-palette{
    height: 100%;
    width: 25%;
    z-index: 10000;
}

.tech-text{
    align-self: center;
    max-width: 50%;
}

.target-div {
    width: 100%;
    height: 100vh;
    font-size: 25px;

    font-family:"Source Code Pro", monospace;  
    color: transparent;
    transition: color .5s;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 20px; /* Отступ текста слева */
}

.target-div-2{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    font-family:"Source Code Pro", monospace;   
    color: transparent;
    transition: color .5s;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px; /* Отступ текста слева */
}


.company-name{
    margin-left: 20px;
    top:80%;
    background-color: transparent;
    position: absolute;
    z-index: 12;
}





* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: white;
	color: #ffffff;
}

svg {
	opacity: 0;
	position: absolute;
}

.wrapper {
	position: relative;
    z-index: 10;
}

.write-btn{
    transition: all .2s;
    display: flex;
    cursor: pointer;
    position: absolute;
    width:200px;
    height: 200px;
    top:calc(50% - 100px);
    right:20%;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-family:"Source Code Pro", monospace;
    justify-content: space-around;
    font-size: 30px;
    background: linear-gradient(90deg, #B7181E, #EF868A);
}
.write-btn:hover{
    scale: 1.1;
}


.port-cont{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 30vh;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    display: flex;
}

.port{
    position: relative;
    height: 100%;
    width:25%;
    z-index: 10;
}

.port-header{
    position: relative;
    font-family:"Source Code Pro", monospace;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #131313;
}

.port-rainbow{
    position: relative;
    height:10px;
    top: 24px;
    left:-44px;
    width: 40px;
    z-index: 10;
}
.port-r-el-1{
    background: linear-gradient(45deg, transparent, #C5573B);
    position: relative;
    height:25%;
    z-index: 10;
}
.port-r-el-2{
    background: linear-gradient(45deg,transparent, #D08339);
    position: relative;
    height:25%;
    z-index: 10;
}
.port-r-el-3{
    background: linear-gradient(45deg,transparent, #E4AE44);
    position: relative;
    height:25%;
    z-index: 10;
}
.port-r-el-4{
    background: linear-gradient(45deg,transparent, #827C46);
    position: relative;
    height:25%;
    z-index: 10;
}

.port-text-line{
    transition: all.2s;
    display: flex;
    height: 24px;
    color:dimgrey;
}

.port-text{
    position: relative;
    z-index: 11;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    
    font-family:"Source Code Pro", monospace;
    white-space: nowrap;
}
.port-text-line:hover{
    color:blueviolet;
}


.port-button{
    cursor: pointer;
    transition: all .2s;
    position: relative;
    max-width: 300px;;
    z-index: 11;
    font-family:"Source Code Pro", monospace;
    color: dimgrey;
    background-color: #EDE8E2;
    height: 40px;
    width: auto;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
  outline: 3px solid black;
  margin-top: 30px;
  box-shadow: 0 3px 0px 3px rgba(0,0,0,1);
}

.port-button:hover{
    scale: 1.1;
}
